


<div class="ui inverted segment">
  <div class="ui inverted relaxed divided list">

    <div class="item">
      <div class="content">
      
      <h1>Sessions#failure</h1>

      <h1 class="text-danger">Authorization Error.</h1>
      <h2 class="text-danger">An error occurred while processing your request.</h2>
      
      <h3>Membership level error</h3>
      <p>
          Your current <strong>scopes</strong> are not not high enough to access the admin dashboard.
      </p>
      <p>
          In order to access this page, you must be an admin user. 
          Contat your administrator to upgrade your privilidges, or log back in
          as an admin user.
      
          Visit your <strong>profile </strong> to check your membership level
      </p>


      </div>
    </div>
</div>
</div>