<div id="cover">
	<!-- Latest CDN production Javascript and CSS -->



  <div id="centerpiece">
      <img class="ui centered medium rounded image" src="/assets/Okta_Logo.png">
      <br><br><br><br>
      <img class="ui centered medium rounded image" src="/assets/rails.png">

    </center>
  </div>
</div>


